* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Arial, Helvetica, Geneva, sans-serif;
}
body {
  background-color: rgb(41, 41, 41);
}
.topcontainer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 998;
  width: 100%;
}
.card-body {
  max-width: 240px;
  background-color: rgb(129, 129, 129);
}
#coins {
  max-width: 1450px;
}
.coinInfo {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.symbol {
  height: 50px;
  width: 50px;
}
.form-check {
  display: flex;
  justify-content: flex-end;
}
#about {
  padding: 20px 5px;
  margin-top: 10px;
  max-width: 1450px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
#picture {
  background-image: url(https://scontent.fhfa1-1.fna.fbcdn.net/v/t1.0-0/s640x640/155241452_10219916374554458_6011273383834054343_o.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_ohc=uSpGI0yS-6gAX93Icac&_nc_ht=scontent.fhfa1-1.fna&tp=7&oh=07a106012e7db15b4bfca8d06bc9ef78&oe=607606CC);
  height: 175px;
  width: 175px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
}
#header {
  text-align: center;
  padding-top: 200px;
  z-index: 1;
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: 0 0 10px #0d6efd;
}
.choosencoins {
  text-align: center;
  padding: 20px;
  border: 5px solid #0d6efd;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 400px;
  z-index: 999;
  background-color: rgb(129, 129, 129);
}
.selectedcoins {
  text-align: start;
  border-radius: 100px;
  border: 3px solid #0d6efd;
  padding: 0 50px;
  margin-bottom: 5px;
}
.darken {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  z-index: 998;
  opacity: 1;
  transition: all 0.5s;
}
// ======= spinner =========
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 48%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #0d6efd transparent #0d6efd transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 1;
  transition: all 0.5s;
}
// ======= parallax =========
.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 5)),
    url("cryptocurrency.png");
  min-height: 300px;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
